In [1]:
import numpy as np 
import pandas as pd

 How to create a series from a list, numpy array and dict?

In [2]:
import numpy as np
mylist = list('amidelaanilkumar')
myarr = np.arange(16)
mydict = dict(zip(mylist, myarr))

In [3]:
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    14
m    13
i     9
d     3
e     4
dtype: int64

How to convert the index of a series into a column of a dataframe?

In [4]:
mylist = list('amidelaanilkumar')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = ser.to_frame().reset_index()
print(df.head())

  index   0
0     a  14
1     m  13
2     i   9
3     d   3
4     e   4

 How to combine many series to form a dataframe?

In [5]:
import numpy as np
ser1 = pd.Series(list('amidelaanilkumar'))
ser2 = pd.Series(np.arange(26))

df = pd.concat([ser1, ser2], axis=1)


df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    m     1
2    i     2
3    d     3
4    e     4

In [6]:
ser = pd.Series(list('amidelaanilkumar'))

ser.name = 'student name'
ser.head()

0    a
1    m
2    i
3    d
4    e
Name: student name, dtype: object

In [7]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [8]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [9]:
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

In [10]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

# Solution
ser.value_counts()

b    6
f    5
d    5
a    5
h    4
e    3
c    2
dtype: int64

In [11]:
words = pd.Series(['Java', 'Kotlin', 'Python', 'Scala', 'Ruby'])
rst = words.map(lambda calc: len(calc))
print(rst)

0    4
1    6
2    6
3    5
4    4
dtype: int64

In [12]:
ser = pd.Series([6,7,5,2,4,1,3])
res = pd.Series([abs(abs(ser[i]-ser[i+1])-abs(ser[i+1]-ser[i+2])) for i in range(len(ser)-2)])
print(res)

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [13]:
dt_series = pd.Series(['28 July 2020', '16 January 2013', '29 February 2016 18:14'])
print(pd.to_datetime(dt_series))

0   2020-07-28 00:00:00
1   2013-01-16 00:00:00
2   2016-02-29 18:14:00
dtype: datetime64[ns]

In [14]:
series = pd.Series(['geeks', 'for', 'geeks', 'pandas', 'series'])
newSeries = series.map(lambda x: x[0].upper() + x[1:])
newSeries

0     Geeks
1       For
2     Geeks
3    Pandas
4    Series
dtype: object

In [15]:
Y_true = [1,1,2,2,4]
Y_pred = [0.6,1.29,1.99,2.69,3.4]
MSE = np.square(np.subtract(Y_true,Y_pred)).mean()
print(MSE)

0.21606

In [16]:
series1=pd.Series([6,7,5,2,4,1,3])
series2=pd.Series([1,2,3])

l=[pd.Index(series1).get_loc(num) for num in series2]
print(l)

[5, 3, 6]

In [17]:
series1 = pd.Series(['a', 'b', 'c', 'd', 'e'])
series2 = pd.Series([9, 8, 7, 6, 5])
df = pd.concat([series1, series2], axis = 1)
print("\nHorizontal:")
display(df)
df = pd.concat([series1, series2], axis = 0)
print("\nVertical:")
display(df)

Horizontal:

   0  1
0  a  9
1  b  8
2  c  7
3  d  6
4  e  5

Vertical:

0    a
1    b
2    c
3    d
4    e
0    9
1    8
2    7
3    6
4    5
dtype: object

In [18]:
ser = pd.Series([0,1,2,3,4,5,6,7,8,9])
result = np.where(ser % 3==0)
print(result)

(array([0, 3, 6, 9]),)

In [19]:
print(ser[3])

3

In [20]:
numpyArray = np.array([[15, 22, 43], 
                       [33, 24, 56]])
index = ['Row_' + str(i) 
        for i in range(1, len(numpyArray) + 1)]
columns = ['Column_' + str(i) 
          for i in range(1, len(numpyArray[0]) + 1)]
panda_df = pd.DataFrame(numpyArray , 
                        index = index,
                        columns = columns)
print(panda_df)

       Column_1  Column_2  Column_3
Row_1        15        22        43
Row_2        33        24        56

In [21]:

np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:2])] = 'Other'
print(num_series)

Top 2 Freq: 2    5
1    5
4    3
3    2
dtype: int64
0         2
1         1
2         2
3     Other
4         1
5         2
6         1
7     Other
8     Other
9         2
10    Other
11        2
12        1
13        1
14    Other
dtype: object